<div class="row">
  <div class="col-auto">
    <h2>Welcome to your Dashboard!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-post-form">
      <div class="form-group pt-1" style="
    padding-bottom: 10px;">
        <label for="project-title">Project Name:</label>
        <input class="form-input" type="text" id="project-title" name="project-title" />
      </div>
      <div class="form-group pt-1" style="
    padding-bottom: 10px;">
        <label for="project-title">Project Contributors:</label>
        <input class="form-input" type="text" id="project-title" name="project-title" />
      </div>
      <div class="form-group" style="
    padding-bottom: 10px;">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group"style="
    padding-bottom: 10px;">
        <label for="project-img">Add Image Link:</label>
        <textarea class="form-input" id="project-img" name="project-img"></textarea>
      </div>
      <div class="form-group"style="
    padding-bottom: 10px;">
        <label for="project-datepicker"> Due Date:</label>
        <input type="text" id="datepicker">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="save-project" onClick="window.location.reload();" type="submit">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 post-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/projects/{{project.id}}">{{project.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger delete-project" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
